.idea/
/documentation/COSET/Memoria/master.synctex.gz
/documentation/STANCE/Memoria/master.aux
/documentation/STANCE/Memoria/master.synctex.gz
/documentation/STANCE/Memoria/master.pdf
/venv_iber/
/documentation/STANCE/memoria_ALC/master.blg
/documentation/STANCE/memoria_ALC/master.loa
/documentation/STANCE/memoria_ALC/master.out
/documentation/STANCE/memoria_ALC/master.bbl
/documentation/STANCE/memoria_ALC/master.lot
/documentation/STANCE/memoria_ALC/master.pdf
/documentation/STANCE/memoria_ALC/master.synctex.gz
/documentation/STANCE/memoria_ALC/master.lof
/documentation/STANCE/memoria_ALC/master.aux
/documentation/STANCE/memoria_ALC/master.toc
/documentation/STANCE/memoria_ARF/master.lot
/documentation/STANCE/memoria_ARF/master.lof
/documentation/STANCE/memoria_ARF/master.pdf
/documentation/STANCE/memoria_ARF/master.aux
/documentation/STANCE/memoria_ARF/master.toc
/documentation/STANCE/memoria_ARF/master.blg
/documentation/STANCE/memoria_ARF/master.bbl
/documentation/STANCE/memoria_ARF/master.synctex.gz
/documentation/STANCE/memoria_ARF/master.loa
/documentation/STANCE/memoria_ARF/master.out
