.idea/
/documentation/COSET/Memoria/master.synctex.gz
/documentation/STANCE/Memoria/master.aux
/documentation/STANCE/Memoria/master.synctex.gz
/documentation/STANCE/Memoria/master.pdf
/venv_iber/
/documentation/STANCE/memoria_ALC/master.blg
/documentation/STANCE/memoria_ALC/master.loa
/documentation/STANCE/memoria_ALC/master.out
/documentation/STANCE/memoria_ALC/master.bbl
/documentation/STANCE/memoria_ALC/master.lot
/documentation/STANCE/memoria_ALC/master.pdf
/documentation/STANCE/memoria_ALC/master.synctex.gz
/documentation/STANCE/memoria_ALC/master.lof
/documentation/STANCE/memoria_ALC/master.aux
/documentation/STANCE/memoria_ALC/master.toc
/documentation/STANCE/memoria_ARF/master.lot
/documentation/STANCE/memoria_ARF/master.lof
/documentation/STANCE/memoria_ARF/master.pdf
/documentation/STANCE/memoria_ARF/master.aux
/documentation/STANCE/memoria_ARF/master.toc
/documentation/STANCE/memoria_ARF/master.blg
/documentation/STANCE/memoria_ARF/master.bbl
/documentation/STANCE/memoria_ARF/master.synctex.gz
/documentation/STANCE/memoria_ARF/master.loa
/documentation/STANCE/memoria_ARF/master.out
/resources/word2vec/es.vec
/resources/word2vec/ca.vec
/documentation/COSET/presentation/master.toc
/documentation/COSET/presentation/master.vrb
/documentation/COSET/presentation/master.aux
/documentation/COSET/presentation/master.log
/documentation/COSET/presentation/presentation_Ambrosini_Nicolo.pdf
/documentation/COSET/presentation/master.snm
/documentation/COSET/presentation/master.synctex.gz
/documentation/COSET/presentation/master.nav
/documentation/COSET/presentation/master.out
/documentation/COSET/report/master.bbl
/documentation/COSET/report/master.blg
/documentation/COSET/report/master.synctex.gz
/documentation/COSET/report/master.toc
/documentation/COSET/report/master.lof
/documentation/COSET/report/master.pdf
/documentation/COSET/report/master.aux
/documentation/COSET/report/master.log
/documentation/COSET/report/master.loa
/documentation/COSET/report/master.out
/documentation/COSET/report/master.lot
/documentation/STANCE/working_note/master.pdf
/documentation/STANCE/working_note/master.lof
/documentation/STANCE/working_note/master.lot
/documentation/STANCE/working_note/master.aux
/documentation/STANCE/working_note/master.log
/documentation/STANCE/working_note/master.synctex.gz
/documentation/STANCE/working_note/master.toc
/documentation/STANCE/working_note/master.loa
/documentation/STANCE/working_note/master.out
/documentation/STANCE/working_note/master.bbl
/documentation/STANCE/working_note/master.blg
/documentation/STANCE/Evaluation_formulas.synctex.gz
/documentation/STANCE/Evaluation_formulas.aux
/documentation/STANCE/Evaluation_formulas.log
/documentation/STANCE/memoria_ARF/master.log
