gensim
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.6
en-core-web-sm==1.2.0
funcsigs==1.0.2
Keras==2.0.0
mock==2.0.0
murmurhash==0.26.4
numpy==1.12.0
pathlib==1.0.1
pbr==2.0.0
plac==0.9.6
preshed==1.0.0
protobuf==3.2.0
PyYAML==3.12
requests==2.13.0
six==1.10.0
spacy==1.7.2
tensorflow==1.0.1
termcolor==1.1.0
thinc==6.5.2
toolz==0.8.2
tqdm==4.11.2
ujson==1.35
wrapt==1.10.10
